.logo_image{
    background-color: black;
}
.logo_image img{
    width: 250px;
    height: 180px;
    margin-left: 0em;
}
.main_header{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 288;
 }

::after, ::before {
    box-sizing: inherit;
}


.pages{
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
}
.pages a{
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20em;
    color: white;
}
.sign_up{
    float: right;
    font-size: 20px;
    border: none;
    background-color: red;
    border-radius: 10px;
}
.sign_in{
    float: right;
    font-size: 20px;
    border: none;
    background-color: red;
    border-radius: 10px;
}
.car{
    position: relative;
    display: inline-block;
}

.logo{
    margin-top: 15em;
    background-color: rgb(18, 119, 173);
}


.name{
    margin-right: 5em;
}


.drop{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.drop:hover, .drop:focus {
    background-color: #2980B9;
}

.item {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.car:hover .item{display: block;}

